<div>
    <!--title-->
    <div class="page-title" >
        <div>
            Batch
        </div>
    </div>

    <!--content-->
    <div id="container" class="container" role="tabpanel">
        <a >Batch overview -> granularity = 1, timeRange = week</a><br/>
        <a ui-serf="batch.traffic({ 'granularity': granularity.value})">Batch traffic -> granularity : {{granularity.value}}</a><br/>
        
        <a ng-click="testClick()">Go to Batch traffic -> granularity  = 1</a>

        <div ui-view></div>
    </div>
</div>
