<div>
  <div class="page-title" >
    <div>
      RealTime
    </div>
  </div>
  <!--content-->
  <div id="container" class="container" role="tabpanel">
    <div class="row">
  		<div class="col-lg-6">
    		<div class="input-group">
      			<span class="input-group-btn">
              Site
      			</span>
      			<input type="text" class="form-control" id="site" placeholder="site" ng-value="site" />
      			<span class="input-group-btn">
        			<button id="copy" class="btn btn-default" type="button">Copy URL</button>
      			</span>
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-6 -->
  	</div>
  </div>
</div>